<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.datapilot.server.mapper.DataSourceMapper">
    <!--新增数据源-->
    <insert id="insert"
            useGeneratedKeys="true"
            keyProperty="id">
        insert into data_source(name,db_type,host,port,database_name,username,password_cipher,status,remark,created_by)
        values(#{name},#{dbType},#{host},#{port},#{databaseName},#{username},#{passwordCipher},#{status},#{remark},#{createdBy})
    </insert>

    <!--根据id查询-->
    <select id="selectById"
            resultType="com.datapilot.pojo.entity.DataSourceEntity">
        select * from data_source
        where id=#{id}
    </select>

    <!--查询当前用户创建的所有数据源-->
    <select id="selectByCreatedBy"
            resultType="com.datapilot.pojo.entity.DataSourceEntity">
        select * from data_source
        where created_by=#{createdBy}
    </select>

    <!--修改数据源-->
    <update id="update">
        update data_source
        <set>
            <if test="name!=null and name!=''">
                name=#{name},
            </if>
            <if test="dbType!=null and dbType!=''">
                db_type=#{dbType},
            </if>
            <if test="host!=null and host!=''">
                host=#{host},
            </if>
            <if test="port!=null">
                port=#{port},
            </if>
            <if test="databaseName!=null and databaseName!=''">
                database_name=#{databaseName},
            </if>
            <if test="username!=null and username!=''">
                username=#{username},
            </if>
            <if test="passwordCipher!=null and passwordCipher!=''">
                password_cipher=#{passwordCipher},
            </if>
            <if test="status!=null">
                status=#{status},
            </if>
            <if test="remark!=null">
                remark=#{remark},
            </if>
        </set>
        where id=#{id}
    </update>

    <delete id="deleteById">
        delete from data_source
        where id=#{id}
    </delete>
</mapper>

